:root {
  --cpu-user: #6687e7;
  --cpu-kernel: #3a5eca;
  --cpu-border: #b3c3f3;
}

.cpu {
  & p {
    font-weight: normal;
    font-size: 14px;
  }

  & .tip {
    overflow: hidden;

    & li {
      line-height: 12px;
      font-size: 14px;
      float: left;
      margin-right: 8px;

      &.user::before {
        background: var(--cpu-user);
      }

      &.kernel::before {
        background: var(--cpu-kernel);
      }

      &::before {
        content: '';
        vertical-align: top;
        width: 12px;
        height: 12px;
        margin-right: 2px;
        display: inline-block;
      }
    }
  }

  & .data {
    & li {
      display: block;
      width: 220px;
      overflow: hidden;
      margin-bottom: 4px;
      border: 1px solid var(--cpu-border);

      & div {
        float: left;
        height: 10px;
        transition: width 0.5s;
      }

      & .user {
        background: var(--cpu-user);
      }

      & .kernel {
        background: var(--cpu-kernel);
      }
    }
  }
}
