/*body, ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}*/
ul {
  padding: 0;
  margin: 8px 0;
}
p {
  margin: 4px 0;
}
h2 {
  margin: 8px 0;
}
li {
  list-style: none;
}
.container {
  width: 230px;
}